@font-face {
    font-family: Lato-ExtraLight;
    src: url("fonts/Lato-ExtraLight.ttf");
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'EB Garamond', serif;
    background-color: #F6F6F5;
    color: #161616;
}

.container {
    max-width: 1110px;
}

.row>* {
    padding-right: 0;
    padding-left: 0;
}

.header {
    padding-top: 24px;
}

.header__row {
    align-items: center;
}

.nav-list {
    display: flex;
    margin-bottom: 0;
    padding-left: 40px;
    list-style-type: none;
    justify-content: center;
}

.nav-list__item {
    margin-right: 48px;
    font-size: 20px;
}

.nav-list__link {
    position: relative;
    color: #161616;
    text-decoration: none;
}

.nav-list__link::before {
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    width: 0;
    display: block;
    background-color: #D8BFA9;
    transition: 0.3s ease;
}

.nav-list__link:hover {
    color: #161616;
}

.nav-list__link:hover::before,
.nav-list__link:focus::before {
    width: 27px;
}

.header__phone {
    position: relative;
    text-align: end;
    transition: 0.2s ease;
}

.header__phone:hover {
    opacity: 0.7;
}

.header__phone::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-image: url("img/phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    position: absolute;
    top: calc(50% - 8px);
    left: -2px;
}

.header__phone-link {
    color: #B8926B;
    text-decoration: none;
    font-size: 20px;
}

.header__phone-link:hover {
    color: #B8926B;
}

.main {
    padding-top: 45px;
}

.main__row {
    position: relative;
}

.main-info {
    padding-top: 80px;
}

.main-info__title {
    position: relative;
    margin-bottom: 32px;
    font-size: 59px;
}

.main-info__title::before {
    content: '';
    position: absolute;
    display: block;
    left: -14%;
    bottom: -71%;
    width: 356px;
    height: 210px;
    background-image: url(img/graphics.svg);
}

.main-info__text {
    margin-bottom: 78px;
    max-width: 550px;
    font-family: 'Lato-ExtraLight', sans-serif;
    font-size: 24px;
    line-height: 34px;
}

.main-info__btn {
    padding: 16px 43px 18px;
    background-color: #69766D;
    color: #F6F6F5;
    font-size: 20px;
    text-decoration: none;
    transition: 0.2s ease;
}

.main-info__btn:hover {
    color: #F6F6F5;
    opacity: 0.8;
}

.main-image {
    margin-left: 27px;
    text-align: end;
}

.main-socials {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: end;
    right: -12px;
}

.main-socials__link {
    display: flex;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid #D8BFA9;
    border-radius: 50%;
    transition: 0.2s ease;
}

.main-socials__svg {
    display: block;
    margin: auto;
}

.main-socials__link path {
    transition: 0.2s ease;
}

.main-socials__link:hover {
    border: 1px solid #B8926B;
}

.main-socials__link:hover path {
    fill: #B8926B;
}

.steps {
    padding-top: 86px;
    padding-bottom: 24px;
}

.steps__title {
    position: relative;
    margin-bottom: 77px;
    font-size: 40px;
    text-align: center;
}

.steps__title::before {
    content: '';
    position: absolute;
    height: 1.5px;
    background-color: #D8BFA9;
    width: 69px;
    top: -5px;
}

.steps__row {
    justify-content: space-between;
}

.steps__item {
    position: relative;
    max-width: 176px;
}

.steps__item:nth-of-type(2n+1)::after,
.steps__item:nth-of-type(2n)::after {
    content: '';
    position: absolute;
    display: block;
    width: 146px;
    height: 33px;
    background-repeat: no-repeat;
}

.steps__item:nth-of-type(2n+1)::after {
    background-image: url("img/top-line.svg");
    top: -5%;
    right: -29%;
}

.steps__item:nth-of-type(2n)::after {
    background-image: url("img/bottom-line.svg");
    top: 20%;
    right: -30%;
    background-size: contain;
}

.steps__item:nth-last-of-type(1)::after {
    display: none;
}

.steps__item-image {
    margin-left: 9px;
}

.steps__item-title {
    margin-top: 58px;
    margin-bottom: 27px;
    font-size: 23px;
    line-height: 20px;
}

.steps__title-desc {
    font-family: 'Lato-ExtraLight', sans-serif;
    font-size: 16px;
    line-height: 19px;
    max-width: 176px;
}